.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "sisi"
    "utama";
  gap: var(--space-4);
  padding-block: var(--space-6);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-4);
}

@media (min-width: 48rem) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 60rem) {
  .content {
    grid-template-columns: 16rem 1fr;
    grid-template-areas: "sisi utama";
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}